#time {
    color: #000000;
}

#footer {
    padding-bottom: 2%;
}

.question_details{
    margin: 4%;
    margin-top: 8%;
    border: solid 1px #000000;
    padding: 1.5%;
    font-size: 18px;
}

.question-header {
    padding: 2%;
    border-bottom: solid 1px #000000;
}

.subject {
    color: #004d40;
    float: left;
}

.time {
    position: relative;
    left: 50%;
    text-transform: uppercase;
}

.question-header #time {
    color: red;
}

.question_body {
    margin: 3%;
}

.test_answers{
    margin: 2%;
    padding-left: 2%;
    font-size: 11%;
}

.btn {
    margin-left: 1%;
}

.option {
    padding-bottom: -4%;
    font-weight: bolder;
}

.card {
    margin-left: 4%;
    margin-bottom: -15%;
}

.subject_time {
    padding-top: 3%;
}

@media screen and (device-width: 360px) {

    .card {
        /*padding-bottom: 48%;*/
        margin: 0 2% 0;
    }

    #next,#previous,#submit_test {
        margin-bottom: 5%;
    }
}

@media screen  and ( device-width: 768px)  {

    .card {
        /*padding-bottom: 4%;*/
        margin: 3% 2% 0;
    }

    #next,#previous,#submit_test {
        margin-bottom: -10%;
    }
}
