#time {
    color: #000000;
}

#footer {
    padding-bottom: 2%;
}

.question_details{
    margin: 4%;
    margin-top: 8%;
    border: solid 1px #000000;
    padding: 1.5%;
    font-size: 18px;
}

.question-header {
    padding: 2%;
    border-bottom: solid 1px #000000;
}

.subject {
    color: #004d40;
    float: left;
}

.time {
    position: relative;
    left: 50%;
    text-transform: uppercase;
}

.question-header #time {
    color: red;
}

.question_body {
    margin: 3%;
}

.test_answers{
    margin: 2%;
    padding-left: 2%;
    font-size: 11%;
}

.btn {
    margin-left: 1%;
}

.option {
    padding-bottom: 4%;
    font-weight: bolder;
}

/*.list_questions {*/
    /*padding: 10px;*/
    /*color: #000000;*/
/*}*/

/*.question {*/
    /*padding-bottom: 5%;*/
/*}*/

/*.question a:link {*/
    /*color: #000000;*/
/*}*/

/*.question a:visited {*/
    /*background-color: #000000;*/
/*}*/

/*.question a:hover {*/
    /*color: #ffffff;*/
    /*display: block;*/
    /*background-color: #000000;*/
/*}*/

/*.question a:active {*/
    /*background-color: red;*/
/*}*/

/*.link_question {*/
 /*background-color: black;*/
 /*display:block;*/
 /*color:#ffffff;*/
/*}*/
